<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Inicio de Sesion</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

</head>
<body>

<div class="model-dialog text-center">
    <div class="col-sm-8">
        <form>
            <div>
            <img  src="https://images.app.goo.gl/BB2i2xrYdQT49R7X8">
            </div>
            <div sec:authorize="!isAuthenticated()">
                <a th:href="@{/oauth2/authorization/auth0}" class="btn btn-primary btn-lg px-4 gap-3">Iniciar sesion</a>
            </div>

            <div sec:authorize="isAuthenticated()">
                <a th:href="@{/verEmpleados}" class="btn btn-primary btn-lg px-4 gap-3">Bienvenido, Click para continuar</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>