
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista Empresas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        a{
        color:white;
        }
        a:haver{
        color:black;
        text-decoration:none;
        }
    </style>
</head>
<body>

<div class="container">
    <h1>Lista de Empresas</h1>
    <!--aqui dibujo la tabla-->
    <br><table class="table-condensed">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>NIT</th>
           <th>Editar</th>
            <th>Eliminar</th>

        </tr>
        <!--aqui llenamos la tabla-->
        <!--en nuestro controlador, creamos en viewEmpresa un modelo con un atributo llamado emplist dondeesta guarda la lista de todas las empresas-->

       <br> <tr th:each="empresa: ${emplist}">
            <td th:text="${empresa.id}"></td>
            <td th:text="${empresa.nombre}"></td>
            <td th:text="${empresa.direccion}"></td>
            <td th:text="${empresa.telefono}"></td>
            <td th:text="${empresa.NIT}"></td>
            <td><button type="button" class="btn btn-basic"><a th:href="@{/editarEmpresa}">Editar</a></button></td>
            <td><button type="button" class="btn btn-warning"><a th:href="@{/eliminarEmpresa}">Eliminar</a></button></td>

        </tr>

    </table>

    <!-- vamos a crear un boton que siva para agregar nuevas empresas-->

    <button type="button" class="btn btn-info"><a href="/AgregarEmpresa">Agregar Nueva Empresa </a></button>

</div>

</body>
</html>